.auth-form {
    width: 30rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control {
    margin-bottom: 0.5rem;
}

.form-actions button {
    background: #8756ff;
    font: inherit;
    border: 1px solid #8756ff;
    border-radius: 3px;
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px #808080;
    color: #e3e3e3;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background: #7249d9;
    border-color: #7249d9;
    color: #ebebeb;
}
