.bookings_tabs {
    text-align: center;
    padding: 0.5rem;
}

.bookings_tabs button {
    border: none;
    font: inherit;
    background: transparent;
    color: #000000;
    padding: 0.25rem 3rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.bookings_tabs button.active {
    border-bottom-color: #7249d9;
    color: #7249d9;
}

.bookings_tabs button:focus {
    outline: none;
}
